html, body {
  font-size: 62.5%;
  font-family: 'Lato', sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-y: auto;
}

h1, h2, h3, .headline {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

body {
  margin: 0;
  font: 300 11px/1.4 'Helvetica Neue', 'sans-serif';
  color: #444;
  background: radial-gradient(circle at 20% 20%, #cfe5e2, #6b78a2);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100%;
  /* background: #accfd1; */
  overflow: hidden;
  display: block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
